* {
    margin: 0;
    padding: 0;
    font-family: "Josefin sans", Quicksand, Helvetica;
    color: rgb(62, 60, 60);
    text-decoration: none !important;
    list-style: none;
}
body {
    background-image: linear-gradient(140deg, #EADEDB 0%, #f0addb 50%, #d64146 75%);
}
#container {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 60vh;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
.navbar-nav {
    margin-top: 10px;
}
form {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
}
h1 {
    font-weight: 400;
    font-size: 40px;
    margin-left: 75px;
    padding-top: 40px;
}
h3 {
    margin-left: 75px;
}
.li-title {
    font-size: 30px !important;
    margin-bottom: 20px;
}
button {
    background-color: #d64146 !important;
    border: none !important;
}
iframe {
    margin: 20px;
    width: 560px;
    height: 315px;
}
footer {
    margin: 10px;
    width: 100%;
    bottom: 0;
}
footer p {
    position: fixed;
    display: inline;
    position: relative;
}
footer a{
    color: white;
}
#options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 50px;
}
@media screen and (max-width: 875px) {
    #options {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 10px;
    }
    form {
        margin: 40px;
    }
  }